/* Footer Container */
.footer {
    position: relative;
    width: 100%;
    background-color: black;
    color: white;
    padding: 40px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

/* Contact & Get-in-touch section */
.contact-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.get-in-touch-footer {
    flex: 1;
    min-width: 200px;
    margin: 20px;
}


/* Contact Items */
.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

/* Brochure Button */
.brochure-btn {
    background-color: #FFD65A;
    color: #333;
    padding: 12px 18px;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    transition: background 0.3s ease;
}

.brochure-btn:hover {
    background-color: #FF9D23;
}

/* Social Media Icons */
.follow-us {
    margin-top: 20px;
}

.social-icons {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 10px;
}

.social-icon {
    color: white;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icon:hover {
    color: #FFD65A;
    transform: scale(1.1);
}


/* Copyright Section */
.copywright-footer {
    background-color: #222;
    padding: 15px 0;
    margin-top: 5px;
}
