.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

.copywright-footer {
    background-color: #FFF;
    text-align: center;
}
.copywright-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contact-footer {
    display: flex;
    background-color: black;
    gap: 10px; 
    flex-wrap: wrap; 
    justify-content: center; 
}
  
.get-in-touch-footer {
    background-color: black;
    padding: 20px;
    color: aliceblue;
    flex: 1;
    min-width: 300px; 
    margin: 40px;
    text-align: center;
}
  
@media (max-width: 600px) {
    .contact-footer {
      flex-direction: column;
    }

    .get-in-touch-footer{
        margin: -10px;
    }
}

.brochure-btn {
    background-color: #FFD65A;
    text-decoration: none;
    color: #333;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
}

.brochure-btn:hover {
    background-color: #FF9D23;
}

.download-icon {
    width: 16px;
    height: 16px;
    padding-right: 10px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px; /* Adds space between icon and text */
    margin-bottom: 8px;
  }

.social-icon {
    height: 3rem;
    width: 3rem;
    color: white;
    padding-left: 10px;
}

.follow-us{
    margin-top: 50px;
}

.location {
    padding-bottom: 15px;
}

.brochure {
    margin-top: 35px;
}